.header_siteMenu {
	width: 253px;
	height: 87px;
	position: absolute;
	right: 30px;
	bottom: 70px;
	color: $lightGreen;
	box-sizing: border-box;
	padding-top: 35px;
}
.siteMenu__link {
	font-size: 12px;
	text-decoration: none;
	color: $lightGreen;
	&:hover {
		color: $lightGreen;
		text-decoration: underline;
	}
}
@media (max-width: 999px) {
	.header_siteMenu {
		bottom: 0px;
	}
}
@media (max-width: 599px) {
	.header_siteMenu {
		bottom: -10px;
	}
}
@media (max-width: 479px) {
	.header_siteMenu {
		left: 17px;
	}
}