// Common styles of the project
@import 'vars.scss';
html, body {
    height: 100%;
}

.page {
  background-color: $siteBackground;
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}