// Common styles of the project

html, body {
    height: 100%;
}
* {
	font-family: Georgia-Regular, Arial, sans-serif;
}
.page {
  background-color: $siteBackground;
  padding-top: 30px;
  box-sizing: border-box;
  &__container {
  	width: 960px;
		height: auto;
		margin: 0px auto;
  	background-color: $whiteColor;
  }
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 30px;
}