// Common styles of the project

html, body {
    height: 100%;
}
* {
	font-family: Georgia-Regular, Arial, sans-serif;
}
.page {
  background-color: $siteBackground;
  padding-top: 30px;
  box-sizing: border-box;
  &__container {
  	width: 960px;
		height: auto;
		margin: 0px auto;
  	background-color: $whiteColor;
  }
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 30px;
}
@media (max-width: 999px) {
  .page {
    padding-top: 0px;
    &__container {
      width: 768px
    }
  }
}
@media (max-width: 767px) {
  .page__container {
    width: 600px
  }
}
@media (max-width: 599px) {
  .page__container {
    width: 480px
  }
}
@media (max-width: 479px) {
  .page__container {
    width: 320px
  }
}