.footer {
	width: 960px;
	min-height: 250px;
	height: auto;
	margin: 0px auto;
	box-sizing: border-box;
	padding: 0px 30px;
	background-color: $footerBackground;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 40px;
	&_item {
		width: 210px;
		height: 100%;
		text-align: left;
	}
}
@import 'components/footer/contacts/contacts.scss';
@import 'components/footer/links/links.scss';
@import 'components/footer/blog/blog.scss';
@import 'components/footer/newsletter/newsletter.scss';

@media (max-width: 999px) {
	.footer {
		width: 768px;
		&_item {
			width: 45%;
		}
	}
}
@media (max-width: 767px) {
	.footer {
		width: 600px;
	}
}
@media (max-width: 599px) {
	.footer {
		width: 480px;
	}
}
@media (max-width: 479px) {
	.footer {
		width: 320px;
		&_item {
			width: 85%;
		}
	}
}