.header {
	width: 960px;
	height: 210px;
	margin: 0px auto;
	position: relative;
	background-color: $whiteColor;
	&_topBorder {
		height: 5px;
		width: 100%;
		background-color: $lightGreen;
	}
}
@import 'social/social.scss';
@import 'topNavigation/topNavigation.scss';
@import 'logo/logo.scss';
@import 'siteMenu/siteMenu.scss';

@media (max-width: 999px) {
	.header {
		width: 768px;
		height: 124px;
	}
}
@media (max-width: 767px) {
	.header {
		width: 600px;
	}
}
@media (max-width: 599px) {
	.header {
		width: 480px;
		height: 184px;
	}
}
@media (max-width: 479px) {
	.header {
		width: 320px;
		height: 184px;
	}
}