.header {
	width: 960px;
	height: 210px;
	margin: 0px auto;
	position: relative;
	background-color: $whiteColor;
	&_topBorder {
		height: 5px;
		width: 100%;
		background-color: $lightGreen;
	}
}
@import 'social/social.scss';
@import 'topNavigation/topNavigation.scss';
@import 'logo/logo.scss';
@import 'siteMenu/siteMenu.scss';