<div class="header">
	<div class="header_topBorder"></div>
	<div class="header_social">
		<div class="header_social__item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>
		<div class="header_social__item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
		<div class="header_social__item"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></div>
		<div class="header_social__item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div>
		<div class="header_social__item"><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></div>
	</div>
	<div class="header_logo">
		<h1 class="logo_topText">CONCOMITANT</h1>
		<p class="logo_bottomText">Free PSD Website Template</p>
	</div>
	<div class="header_siteMenu">
		<a href="#" class="siteMenu__link">Sign Up</a> | 
		<a href="#" class="siteMenu__link">Login</a> | 
		<a href="#" class="siteMenu__link">RSS Feeds</a> | 
		<a href="#" class="siteMenu__link">Archived News</a>
	</div>
	<div class="header_topNavigation">
		<a href="#" class="topNavigation__item active">homepage</a>
		<a href="#" class="topNavigation__item">style demo</a>
		<a href="#" class="topNavigation__item">full width</a>
		<a href="#" class="topNavigation__item">portfolio</a>
		<a href="#" class="topNavigation__item">gallery</a>
		<a href="#" class="topNavigation__item">dropdown</a>		
	</div>
</div>