.header_topNavigation {
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	background-color: $lightGreen;
	box-sizing: border-box;
	padding: 0px 30px;
	display: flex;
	flex-direction: row;
	line-height: 70px;
}
.topNavigation__item {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	color: $whiteColor;
	margin-left: 20px;
	&:hover {
		color: $blackColor;
	}
	&:first-child {
		margin-left: 0;
	}
}
.searchForm {
	position: absolute;
	right: 30px;
}
.searchArea {
	position: absolute;
	right: 66px;
	top: 20px;
	font-size: 12px;
	width: 216px;
	height: 32px;
	box-sizing: border-box;
	border: 1px solid $formBorder;
	padding-left: 9px;
	outline: none;
}
.searchBtn {
	position: absolute;
	right: 0;
	top: 20px;
	font-size: 12px;
	width: 67px;
	height: 32px;
	box-sizing: border-box;
	border: 1px solid $formBorder;
	background-color: $whiteColor;
	outline: none;
	cursor: pointer;
	color: $lightGreen;
	&:hover {
		background-color: $lightGreen;
		color: $whiteColor;
	}
}