.copyright {
	width: 960px;
	min-height: 60px;
	margin: 0px auto;
	box-sizing: border-box;
	height: auto;
	background-color: $copyrightBackgound;
	padding: 25px 30px 0px 30px;
	margin-bottom: 30px;
	&_info,	&_author {
		display: block;
		width: auto;
		margin: 0;
		font-size: 12px;
		color: $copyrightText;
	}
	&_info {
		float: left;
	}
	&_author {
		float: right;
	}
}