.copyright {
	width: 960px;
	min-height: 60px;
	margin: 0px auto;
	box-sizing: border-box;
	height: auto;
	background-color: $copyrightBackgound;
	padding: 25px 30px 0px 30px;
	margin-bottom: 30px;
	clear: both;
	&_info,	&_author {
		display: block;
		width: auto;
		margin: 0;
		font-size: 12px;
		color: $copyrightText;
	}
	&_info {
		float: left;
	}
	&_author {
		float: right;
	}
}
@media (max-width: 999px) {
	.copyright {
		width: 768px;
		margin-bottom: 0px;
	}	
}
@media (max-width: 767px) {
	.copyright {
		width: 600px;
	}	
}
@media (max-width: 599px) {
	.copyright {
		width: 480px;
		height: 80px;
		&_author {
			margin-top: 5px;
			float: left;
		}
	}	
}
@media (max-width: 479px) {
	.copyright {
		width: 320px;
		height: 90px;
		&_info {
			font-size: 11px;
		}
		&_author {
			font-size: 11px;
		}
	}	
}