<div class="footer_item footer_newsletter">
	<h2 class="footer_newsletter__h2">{{newsletter.h2}}</h2>
	<form action="#" method="POST" name="newsletterForm">
		<input class="newsletterName" type="text" name="newsletterName" placeholder="Name" id="newsletterName" required>
		<input class="newsletterEmail" type="email" name="newsletterEmail" placeholder="Email" id="newsletterEmail" required>
		<input class="newsletterSubmit" type="submit" name="newsletterSubmitButton" value="submit" id="newsletterSubmitButton">
	</form>
</div>